<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ isEditing ? 'Editar Usuario' : 'Adicionar Usuario' }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list-perfis"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome<ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="user.name" name="name" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">E-mail<ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="user.email" name="email" type="mail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha<ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="user.password" name="password" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Perfil: <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-select placeholder="Selecione" cancel-text="Cancelar" interface="action-sheet"
      [(ngModel)]="user.profile_id">
      <ion-select-option *ngFor="let profile of profiles" value="{{profile.id}}">{{profile.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="saveUser()">{{ isEditing ? 'Salvar Alterações' : 'Adicionar Usuario' }}</ion-button>
</ion-content>
