<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GS3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>{{user?.user?.name }}</ion-card-title>
      <ion-card-subtitle>
        <ion-badge color="primary">{{user?.user?.profile?.name}}</ion-badge>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item button routerLink="/meu-perfil">
        <ion-label>Meu Perfil</ion-label>
      </ion-item>
      <div *ngIf="user?.user?.profile.name === 'Admin'">
        <ion-item button routerLink="/list-perfis">
          <ion-label>Perfis</ion-label>
        </ion-item>

        <ion-item button routerLink="/list-usuarios">
          <ion-label>Usuarios</ion-label>
        </ion-item>

      </div>
      <ion-item button (click)="logout()">
        <ion-label>Sair</ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>